* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #9c9c9c;
  background-image: radial-gradient(
    circle at top right,
    rgba(251, 255, 0, 0.205),
    #151515 20%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 600px) {
  :root {
    background-image: none;
    background-color: #0e0e0e;
  }
}

a {
  font-weight: 500;
  text-decoration: inherit;
  font-size: 0.7rem;
}
a:hover {
  /* color: rgba(255, 239, 95, 0.627); */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  width: 100%;
  padding-left: 15px;
  border-radius: 7px;
  height: 40px;
  background-color: #383838;
  border: 1px solid transparent;
  color: #cccccc;
}

input:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  height: 40px;
  font-size: 0.9em;
  /* font-weight: 500; */
  font-family: inherit;
  background-color: #383838;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  /* border-color: rgba(255, 239, 95, 0.627); */
  box-shadow: rgba(67, 67, 67, 0.694) 0px 0px 10px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  height: 40px;
  font-size: 0.9em;
  /* font-weight: 500; */
  font-family: inherit;
  background-color: #deff36;
  cursor: pointer;
  transition: border-color 0.25s;
}

.submit-button:hover {
  box-shadow: rgba(67, 67, 67, 0.694) 0px 0px 10px;
}
